@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/dynamic.js"></script>
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Log In</title>
</head>
<body>
    <form method="post" asp-page="Index">
        <div class="container">
            <div class="left">
                <div class="header">
                    <h2 class="animation a1">Bienvenido</h2>
                    <h4 class="animation a2">Ingrese su nombre de Usuario y Contraseña</h4>

                </div>
                <div class="form">
                    <input asp-for="Talleres.Id" class="form-field animation a3" placeholder="Usuario" required>
                    <input asp-for="Talleres.Password" class="form-field animation a4" type="password" placeholder="Contraseña" required>
                    <button asp-page-handler="Login" class="animation a6">LOGIN</button>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </form>
</body>
</html>
